<div class="dashboard-page">
            <div class="welcome-user-block row">
            {{drupal_view('dashboard_account', 'block_1') }}
                </div>
        <div class="dashboard-block">
            <div class="Embracing row costum-block">
            {{ drupal_entity('block_content', '7') }}
            </div>
            <div class="Wardrobe row costum-block">
            {{ drupal_entity('block_content', '8') }}
                </div>
            <div class="Tailored row costum-block">
            {{ drupal_entity('block_content', '9') }}
                </div>
                {# <div class="intelligent row costum-block">
            {{ drupal_entity('block_content', '10') }}
                </div> #}
            <div class="Unveiling row costum-block">
            {{ drupal_entity('block_content', '11') }}
                </div>
            {# <div class="full-calendar row costum-block">
                {{drupal_view('full_calendar', 'block_1') }}
                
                </div> #}


                </div>

    </div>