<div class="sos-home-page-dashboard">
	<div class='header' id="myHeader">
		{{ page.header }}
	</div>
	<div class='primary_menu' id='primary_menu'>
		{{ page.primary_menu }}
	</div>
	<div class="sos-main-page">
		<div class="content-box">
			<div class='featured'>
				{{ page.featured }}
			</div>
			<div class='content'>
				<div class="edit-content">
					{{ page.content }}
				</div>
			</div>
			<div class='sidebar'></div>
			<div class='footer'>
				{{ page.footer }}
			</div>
		</div>
	</div>
</div>
